

@{
    ViewData["Title"] = "LoggedInLanding";
}



<div class="container">
    <h2> Newest Torunaments</h2>
    <ul class="cards">

        @foreach (var T in ViewBag.NewT)

        {
            if (T.TournamentImage != null)
            {
                <li class="cards_item">
                    <div class="card">
                        <div class="card_image"><img style="height:100px; width:100%;" src="/images/tournaments/@T.TournamentImage"></div>
                        <div class="card_content">
                            <h2 style="text-align:center; margin-bottom:5%;" class="card_title">@T.TournamentName</h2>
                            <div class="flex-container">
                                <div id="flex1">
                                    <img id="imgflex" src="https://static.thenounproject.com/png/925223-200.png" />
                                    <div id="left">
                                        <p>
                                            @T.ParticipantsAmount Attendees
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <div class="flex-container">
                                <div id="flex2">
                                    <img id="imgflex" src="/images/dateicon.png" />
                                    <div id="left2" style="font-size:1em;"><p><b>Kickoff</b>  @T.TimeFrame</div>
                                </div>
                            </div>
                            <button onclick="document.location='/Tournaments/Details/@T.TournamentId'" class="btn"> Read More</button>
                        </div>
                    </div>
                </li>

            }


        }
    </ul>

    <h2 style="margin-top:10%;"> Ongoing tournaments</h2>
    <ul class="cards">

        @foreach (var T in ViewBag.NewF)

        {
            if (T.TournamentImage != null)
            {
                <li class="cards_item">
                    <div class="card">
                        <div class="card_image"><img style="height:100px; width:100%;" src="/images/tournaments/@T.TournamentImage"></div>
                        <div class="card_content">
                            <h2 style="text-align:center; margin-bottom:5%;" class="card_title">@T.TournamentName</h2>
                            <div class="flex-container">
                                <div id="flex1">
                                    <img id="imgflex" src="https://static.thenounproject.com/png/925223-200.png" />
                                    <div id="left">
                                        <p>
                                            @T.ParticipantsAmount Attendees
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <div class="flex-container">
                                <div id="flex2">
                                    <img id="imgflex" src="/images/dateicon.png" />
                                    <div id="left2" style="font-size:1em;"><p><b>Kickoff</b>  @T.TimeFrame</div>
                                </div>
                            </div>
                            <button onclick="document.location='/Tournaments/Details/@T.TournamentId'" class="btn"> Read More</button>
                        </div>
                    </div>
                </li>

            }


        }
    </ul>

</div>









<style>

    container {
        width: 80%;
        margin-left: 10%;
    }

    p {
        color: lightgray;
        font-size: 16px;
        line-height: 1.428571429;
        margin: 0;
    }


    *,
    *::before,
    *::after {
        box-sizing: border-box;
        font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
        text-align: left;
    }


    h2 {
        margin-left: 5%;
        font-size: 4em;
        text-align: left;
        color: #43b581;
        font-weight: bold;
    }



    .btn {
        margin-top: 15%;
        color: #ffffff;
        padding: 0.8rem;
        font-size: 14px;
        text-transform: uppercase;
        border-radius: 4px;
        font-weight: 400;
        display: block;
        width: 100%;
        cursor: pointer;
        border: 1px solid rgba(255, 255, 255, 0.2);
        background: transparent;
    }

        .btn:hover {
            background-color: #43b581;
        }

    .cards {
        width: 100%;
        align-content: center;
        display: flex;
        flex-wrap: wrap;
        list-style: none;
    }

    .cards_item {
        display: flex;
        padding: 1rem;
        width: 25%;
        max-width: 250px;
    }


    .card {
        border-radius: 0.25rem;
        box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        overflow: hidden;
        background: #3d4351;
        height: 360px;
    }

    .card_content {
        padding: 1rem;
        background: #3d4351;
        font-size: 0.7em;
    }

    .card_title {
        font-size: 0.9rem;
        font-weight: bold;
        text-transform: capitalize;
    }

    .card_text {
        color: whitesmoke;
        font-size: 0.875rem;
        line-height: 1;
        font-weight: 400;
    }

    .flex-container {
        margin-top: 5%;
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    #imgflex {
        width: 10%;
    }


    #left2 {
        font-size: 0.5em;
        margin: 0;
    }


    #flex1 {
        width: 100%;
    }

    #flex2 {
        width: 100%;
    }
</style>





@*<h1> Ongoing Tournaments</h1>

    <div class="slider" ondrag="slide(event, this)" onmouseenter="slide(event, this)" ontouchmove="slide(event,this)">
        <div class="slider-inner" id="sliderinner">


            @foreach (var F in ViewBag.NewF)
            {
                if (F.TournamentImage != null)
                {
                    <a id="classlink" href="/Tournaments/Details/@F.TournamentId">
                        <div class="slide-img">
                            <p class="img-text"> @F.TournamentName</p>
                            <img id="Gallery-Img" src="/images/tournaments/@F.TournamentImage" alt="Alternate Text" />
                        </div>
                    </a>
                }
            }



        </div>
    </div>*@





@*<script defer>
    slider try scripts
        function slide(e, drag) {
            this.drag = drag;
            this.draginner = drag.children[0];
            this.pressed = false;
            this.startx;
            this.x;
            this.drag.addEventListener('mousedown', (e) => {
                this.pressed = true;
                this.startx = e.offsetX - this.draginner.offsetLeft;
                this.drag.style.cursor = 'grabbing';

            });

            this.drag.addEventListener('click', (e) => {
                this.pressed = false;
                this.document.getElementById("sliderinner").style.pointerEvents = "all";
            });


            this.drag.addEventListener('mouseup', () => {
                this.drag.style.cursor = 'grab';
                this.pressed = false;
            });

            this.drag.addEventListener('mousemove', (e) => {
                if (!this.pressed) {
                    document.getElementById("sliderinner").style.pointerEvents = "none";
                    return;

                }
                document.getElementById("Gallery-Img").style.pointerEvents = "all";
                e.preventDefault();
                x = e.offsetX;
                this.draginner.style.left = `${x - this.startx}px `;
                overflowcheck();
            });


            function overflowcheck() {
                outer = this.drag.getBoundingClientRect();
                inner = this.draginner.getBoundingClientRect();
                if (parseInt(this.draginner.style.left) > 0) {
                    this.draginner.style.left = '0px'
                } else if (inner.right < outer.right) {
                    this.draginner.style.left = `-${inner.width - outer.width}px`
                }
            }
        }
    </script>*@

@*slider try styling*@
@*/*  #Gallery-Img {
        width: 300px;
        height: 250px;
        border: none;
    }



    .slider {
        position: relative;
        left: 10%;
        top: 30%;
        width: 80%;
        height: 200px;
        overflow: hidden;
    }

    h1 {
        margin-top: 10%;
    }

    .slider-inner {
        pointer-events: all;
        position: relative;
        top: 0;
        left: 0;
        height: 100%;
        width: 200%;
        display: grid;
        grid-template-columns: repeat(7,1fr);
        grid-gap: 5px;
        pointer-events: none;
        transition: 0s ease-in;
    }

    #Simg {
        width: 200px;
        height: 200px;
    }

    .slider-inner > .slide-img > .img-text {
        color: yellow;
        position: relative;
        z-index: 99999;
        transform: translate3d(30%,20vh,0)
    }*/*@
