@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@using Microsoft.AspNetCore.Identity;

@model TournamentWeb.Models.Tournament

<div class="Pcontainer">
    @foreach (var team in Model.Teams)
    {
        <div class="teamwrap">
            <div class="teamName">
                <p>@Html.DisplayFor(modelItem => team.TeamName)</p>
                @foreach (var Attendee in team.Attendees)
                {
                    @if (UserManager.GetUserId(User) == Attendee.UserID && Attendee.UserStatus == "TeamLeader")
                    {
                        <a asp-action="Delete" asp-route-id="@Model.TournamentId" asp-route-TeamId="@team.TeamId">
                            <div class="btn btn-outline-danger btn-sm">Delete</div>
                        </a>
                    }
                }

            </div>
            @foreach (var Attendee in team.Attendees)
            {
                <div class="AttendeeName">
                    <p>
                        @Html.DisplayFor(modelItem => Attendee.UserName)
                        @if (Attendee.UserStatus == "TeamLeader")
                        {
                            <span>(TL)</span>
                        }

                    </p>
                    @if (UserManager.GetUserId(User) == Attendee.UserID)
                    {
                        <a asp-action="RemovePlayer" asp-route-id="@Model.TournamentId" asp-route-TeamId="@team.TeamId">
                            <div class="btn btn-outline-danger btn-sm">Leave</div>
                        </a>
                    }
                    //WRONG
                    else
                    {
                        @foreach (var AttendeeN in team.Attendees)
                        {
                            if (AttendeeN.UserStatus == "TeamLeader" && UserManager.GetUserId(User) == AttendeeN.UserID)
                            {
                                <a id="dadatest" asp-action="RemovePlayer" asp-route-id="@Model.TournamentId" asp-route-TeamId="@team.TeamId" asp-route-UserID="@Attendee.UserID">
                                    <div class="btn btn-outline-danger btn-sm">Remove</div>
                                </a>
                            }
                        }
                    }
                </div>
            }
            @for (int i = 0; i < 3 - team.Attendees.Count; i++)
            {
                <div class="AttendeeName">
                    <div id="UseShipAddr" onclick="testfuck(@Model.TournamentId, @team.TeamId, 0, 'AddPlayer')" class="btn btn-outline-primary btn-sm">Add</div>
                </div>
            }
        </div>
    }
</div>