@model TournamentWeb.Models.Tournament

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TournamentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TournamentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TournamentInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TournamentInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeFrame)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeFrame)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParticipantsAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParticipantsAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bracketsize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bracketsize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TournamentImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TournamentImage)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TournamentId">Edit</a> 
</div>
