@model TournamentWeb.Models.ViewModels.UserProfileViewModel
@*<button class="FormbuttonT" onclick="hidehow()">Show Tournaments</button>
    <div class="flex-View">
        <div class="side" id="side">
            @await Component.InvokeAsync("UserTournaments")
        </div>*@

<div id="profile" class=" Fheader">
    <h1> Hej! @Model.UserName</h1>
    <div class="profileflex">
        <div class="info1">

            @if (Model.ProfileImage == null)
            {
                <img class="pImage" src="~/images/profile/default-user-icon.jpg" /><br />
            }
            else
            {
                <img class="pImage" src="~/images/profile/@Model.ProfileImage" alt="Alternate Text" /><br />
            }

            <a asp-controller="UserProfile" asp-action="Edit" class="FormbuttonP">Edit Profile</a> <br />

            <form asp-action="Delete">
                <input type="hidden" name="Id"
                       value="@Model.Id" />
                <input type="hidden" name="returnUrl"
                       value="@Model.ReturnUrl" />
                <button type="submit" class="FormbuttonPDelete"
                        onclick="return confirm('Are you sure you want to delete your account?')">
                    Delete
                </button>
            </form>
        </div>

        <div class="info2">
            <h3>Discord</h3>
            <p> @Model.UserDiscord </p>
            <h3>Email</h3>
            <p>@Model.Email</p>
            <h3>Username</h3>
            <p>@Model.UserName</p>
            <h3>Points</h3>
            <p> @Model.Points</p>

        </div>
    </div>
</div>





@*<script>

        function hidehow() {
            var x = document.getElementById("side")
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>*@


