@model TournamentWeb.Models.ViewModels.UserProfileViewModel
<style>
    img {
        height: 200px;
        width: auto;
    }

    #profile {
        text-align: center;
    }
</style>


<div id="profile" class=" m-1 p-1">
    <h1> THis is the profile page!</h1>
    <img src="~/images/profile/@Model.ProfileImage" alt="Alternate Text" /><br />
    username
    <h4>@Model.UserName</h4>
    points
    <h4> @Model.Points</h4>
    discord
    <h4> @Model.UserDiscord </h4>
    email
    <h4>@Model.Email</h4>
    <a asp-controller="UserProfile" asp-action="Edit" class="btn btn-primary">Edit Profile</a> <br />

    <form asp-action="Delete">
        <input type="hidden" name="Id"
               value="@Model.Id" />
        <input type="hidden" name="returnUrl"
               value="@Model.ReturnUrl" />
        <button type="submit" class="btn m-1 btn-danger"
                onclick="return confirm('Are you sure you want to delete your account?')">
            Delete
        </button>
    </form>
</div>



@if (Model.Email.ToString() == "admin@example.com")
{
    <a class="btn btn-info" asp-area="" asp-controller="Admin" asp-action="Index">Admin overview</a>
}