@model TournamentWeb.Models.Tournament
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@using Microsoft.AspNetCore.Identity;


<div id="myTag"></div>

<h1>
    @Model.TournamentName
</h1>

@{
    if (ViewBag.error != null)
    {
        <div id="errorLoader"></div>
    };
}



<div class="Tcontainer" style="background: url(/images/tournaments/@Model.TournamentImage)">
</div>

<div class="bg-primary m-1 p-1 text-white">
    Participants
</div>


<div class="Pcontainer">
    @foreach (var team in Model.Teams)
    {
        <div class="teamwrap">
            <div class="teamName">
                <p>@Html.DisplayFor(modelItem => team.TeamName)</p>
                @foreach (var Attendee in team.Attendees)
                {
                    @if (UserManager.GetUserId(User) == Attendee.UserID && Attendee.UserStatus == "TeamLeader")
                    {
                        <a asp-action="Delete" asp-route-id="@Model.TournamentId" asp-route-TeamId="@team.TeamId">
                            <div class="btn btn-outline-danger btn-sm">Delete</div>
                        </a>
                    }
                }

            </div>
            @foreach (var Attendee in team.Attendees)
            {
                <div class="AttendeeName">
                    <p>
                        @Html.DisplayFor(modelItem => Attendee.UserName)
                        @if (Attendee.UserStatus == "TeamLeader")
                        {
                            <span>(TL)</span>
                        }

                    </p>
                    @if (UserManager.GetUserId(User) == Attendee.UserID)
                    {
                        <a asp-action="RemovePlayer" asp-route-id="@Model.TournamentId" asp-route-TeamId="@team.TeamId">
                            <div class="btn btn-outline-danger btn-sm">Leave</div>
                        </a>
                    }
                    //WRONG
                    else
                    {
                        @foreach (var AttendeeN in team.Attendees)
                        {
                            if (AttendeeN.UserStatus == "TeamLeader" && UserManager.GetUserId(User) == AttendeeN.UserID)
                            {
                                <a id="dadatest" asp-action="RemovePlayer" asp-route-id="@Model.TournamentId" asp-route-TeamId="@team.TeamId" asp-route-UserID="@Attendee.UserID">
                                    <div class="btn btn-outline-danger btn-sm">Remove</div>
                                </a>
                            }
                        }
                    }
                </div>
            }
            @for (int i = 0; i < 3 - team.Attendees.Count; i++)
            {
                <div class="AttendeeName">
                    <div id="UseShipAddr" onclick="testfuck(@Model.TournamentId, @team.TeamId, 0, 'AddPlayer')" class="btn btn-outline-primary btn-sm">Add</div>
                </div>
            }
        </div>
    }
</div>


<button class="btn btn-primary" onclick="testfuck(@Model.TournamentId, 0, 0, 'CreateTeam')">
    Join Tournament
</button>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    if ($('#errorLoader').length) {
        $("#errorLoader").ready(function () {
            testfuck(@Model.TournamentId, 0, 0, "@ViewBag.error");
        })
    }
</script>

<style>
    .Tcontainer {
        background: grey;
        height: 40vh;
        width: 100%;
    }


    .Pcontainer {
        height: auto;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .teamwrap {
        width: 200px;
        border: 1px solid lightblue;
        height: max-content;
        margin: 12px;
    }

    .AttendeeName:nth-child(even) {
        background: #add8e642;
    }

    .teamName {
        color: white;
        background: lightblue;
        padding: 8px;
    }

        .teamName p {
            margin: 0 0 8px 0;
        }

    .AttendeeName {
        color: grey;
        display: flex;
        justify-content: space-between
    }

        .AttendeeName p {
            margin: 0 0 0 4px;
        }
</style>
